.form-block {
}
.form-block-item {
   padding: 16px 0px;
   position: relative;
   display: flex;
}
label span {
   color: #808080;
   font-size: 14px;
   margin-left: 3px;
}
.form-block-item:after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 1px;
   background: #dfe3e6;
}
.form-block-input {
   position: absolute;
   z-index: -1;
   opacity: 0;
}
.form-block-input + label {
   display: inline-flex;
   align-items: center;
   user-select: none;
}
.form-block-input + label::before {
   content: " ";
   display: inline-block;
   width: 20px;
   height: 20px;
   flex-shrink: 0;
   flex-grow: 0;
   border: 1px solid #adb5bd;
   border-radius: 0.25em;
   margin-right: 11px;
   cursor: pointer;
}
.form-block-input:checked + label::before {
   background: linear-gradient(255.35deg, #dc3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #ff5e56;
   border: 1px solid transparent;
   background-image: url("./checkbox-icons/Vector.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 50% 50%;
}
