body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
@font-face {
  font-family: "LabG-medium";
  src: local("LabG-medium"), url(./fonts/LabGrotesque-Medium.woff) format("truetype");
}
@font-face {
  font-family: "LabG-regular";
  src: local("LabG-regular"), url(./fonts/LabGrotesque-Regular.woff) format("truetype");
}
